<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhy.yg_ai.mapper.MedicalEventMapper">

    <resultMap id="BaseResultMap" type="com.zzhy.yg_ai.domain.entity.MedicalEvent">
        <id column="id" property="id"/>
        <result column="medical_record_structured_id" property="medicalRecordStructuredId"/>
        <result column="medical_record_structured_column" property="medicalRecordStructuredColumn"/>
        <result column="record_id" property="recordId"/>
        <result column="reqno" property="reqno"/>
        <result column="pathosid" property="pathosid"/>
        <result column="event_type" property="eventType"/>
        <result column="event_name" property="eventName"/>
        <result column="event_time_raw" property="eventTimeRaw"/>
        <result column="attributes" property="attributes" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="negation" property="negation"/>
        <result column="source_text" property="sourceText"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>
