<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhy.yg_ai.mapper.PatientRawDataMapper">

    <resultMap id="BaseResultMap" type="com.zzhy.yg_ai.domain.entity.PatientRawDataEntity">
        <id column="id" property="id"/>
        <result column="reqno" property="reqno"/>
        <result column="data_date" property="dataDate"/>
        <result column="clinical_notes" property="clinicalNotes"/>
        <result column="data_json" property="dataJson"/>
        <result column="struct_data_json" property="structDataJson"/>
        <result column="event_json" property="eventJson"/>
        <result column="filter_data_json" property="filterDataJson"/>
        <result column="create_time" property="createTime"/>
        <result column="last_time" property="lastTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, reqno,data_date, clinical_notes, data_json, filter_data_json, struct_data_json, event_json, create_time, last_time
    </sql>

    <resultMap id="PatInforResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatInfor">
        <id column="reqno" property="reqno"/>
        <result column="pathosid" property="pathosid"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="disname" property="disname"/>
        <result column="outhodate" property="outhodate"/>
        <result column="inhosday" property="inhosday"/>
        <result column="inhosdistrict" property="inhosdistrict"/>
        <result column="hosdays" property="hosdays"/>
    </resultMap>

    <resultMap id="PatDiagInforResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatDiagInfor">
        <result column="reqno" property="reqno"/>
        <result column="phase" property="phase"/>
        <result column="diag_id" property="diagId"/>
        <result column="diag_name" property="diagName"/>
        <result column="diag_time" property="diagTime"/>
    </resultMap>

    <resultMap id="PatBodySurfaceResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatBodySurface">
        <result column="reqno" property="reqno"/>
        <result column="measuredate" property="measuredate"/>
        <result column="flag" property="flag"/>
        <result column="temperature" property="temperature"/>
        <result column="stool_count" property="stoolCount"/>
        <result column="pulse" property="pulse"/>
        <result column="breath" property="breath"/>
        <result column="blood_pressure" property="bloodPressure"/>
    </resultMap>

    <resultMap id="PatDoctorAdviceResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatDoctorAdvice">
        <result column="reqno" property="reqno"/>
        <result column="docadvno" property="docadvno"/>
        <result column="docadvice" property="docadvice"/>
        <result column="begtime" property="begtime"/>
        <result column="endtime" property="endtime"/>
        <result column="docadvtype" property="docadvtype"/>
        <result column="remarks" property="remarks"/>
        <result column="distname" property="distname"/>
    </resultMap>

    <resultMap id="PatIllnessCourseResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatIllnessCourse">
        <result column="id" property="illnessCourseId"/>
        <result column="reqno" property="reqno"/>
        <result column="illnesscontent" property="illnesscontent"/>
        <result column="creattime" property="creattime"/>
        <result column="changetime" property="changetime"/>
        <result column="itemname" property="itemname"/>
    </resultMap>

    <resultMap id="PatTestSamResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatTestSam">
        <result column="reqno" property="reqno"/>
        <result column="samreqno" property="samreqno"/>
        <result column="sendtestdate" property="sendtestdate"/>
        <result column="testaim" property="testaim"/>
        <result column="data_name" property="dataName"/>
        <result column="testdate" property="testdate"/>
    </resultMap>

    <resultMap id="PatTestResultResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatTestResult">
        <result column="reqno" property="reqno"/>
        <result column="samreqno" property="samreqno"/>
        <result column="itemno" property="itemno"/>
        <result column="itemname" property="itemname"/>
        <result column="engname" property="engname"/>
        <result column="resultdesc" property="resultdesc"/>
        <result column="state" property="state"/>
        <result column="unit" property="unit"/>
        <result column="refdesc" property="refdesc"/>
        <result column="all_jy_flag" property="allJyFlag"/>
    </resultMap>

    <resultMap id="PatUseMedicineResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatUseMedicine">
        <result column="reqno" property="reqno"/>
        <result column="useorderno" property="useorderno"/>
        <result column="medi_id" property="mediId"/>
        <result column="medi_name" property="mediName"/>
        <result column="med_calss" property="medCalss"/>
        <result column="medi_path" property="mediPath"/>
        <result column="begin_time" property="beginTime"/>
        <result column="zxsj" property="zxsj"/>
        <result column="end_time" property="endTime"/>
        <result column="medi_aim" property="mediAim"/>
        <result column="docadvtype" property="docadvtype"/>
        <result column="medi_num" property="mediNum"/>
        <result column="medusage" property="medusage"/>
        <result column="frequency" property="frequency"/>
        <result column="unit" property="unit"/>
        <result column="memo" property="memo"/>
        <result column="distname" property="distname"/>
    </resultMap>

    <resultMap id="PatVideoResultResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatVideoResult">
        <result column="reqno" property="reqno"/>
        <result column="samreqno" property="samreqno"/>
        <result column="itemno" property="itemno"/>
        <result column="docadvtime" property="docadvtime"/>
        <result column="names" property="names"/>
        <result column="diagnose" property="diagnose"/>
        <result column="testresult" property="testresult"/>
        <result column="reporttime" property="reporttime"/>
    </resultMap>

    <resultMap id="PatTransferResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatTransfer">
        <result column="reqno" property="reqno"/>
        <result column="indeptdate" property="indeptdate"/>
        <result column="indeptname" property="indeptname"/>
        <result column="outhodate" property="outhodate"/>
        <result column="outdeptname" property="outdeptname"/>
    </resultMap>

    <resultMap id="PatOpsCutInforResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatOpsCutInfor">
        <result column="reqno" property="reqno"/>
        <result column="ops_id" property="opsId"/>
        <result column="ops_name" property="opsName"/>
        <result column="beg_time" property="begTime"/>
        <result column="end_time" property="endTime"/>
        <result column="cut_type" property="cutType"/>
        <result column="hocus_mode" property="hocusMode"/>
    </resultMap>

    <resultMap id="OpsMedicineResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$OpsMedicine">
        <result column="reqno" property="reqno"/>
        <result column="useorderno" property="useorderno"/>
        <result column="medi_id" property="mediId"/>
        <result column="ops_id" property="opsId"/>
        <result column="medi_name" property="mediName"/>
        <result column="dosage" property="dosage"/>
        <result column="begin_time" property="beginTime"/>
    </resultMap>

    <resultMap id="PatTestResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$PatTest">
        <result column="reqno" property="reqno"/>
        <result column="testobject" property="testobject"/>
        <result column="samreqno" property="samreqno"/>
        <result column="sampletime" property="sampletime"/>
        <result column="data_name" property="dataName"/>
    </resultMap>

    <resultMap id="MicrobeInfoResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$MicrobeInfo">
        <result column="reqno" property="reqno"/>
        <result column="samreqno" property="samreqno"/>
        <result column="sendtestdate" property="sendtestdate"/>
        <result column="samtypename" property="samtypename"/>
        <result column="samtype" property="samtype"/>
        <result column="exedate" property="exedate"/>
        <result column="data_code" property="dataCode"/>
        <result column="result" property="result"/>
        <result column="result1" property="result1"/>
        <result column="result2" property="result2"/>
    </resultMap>

    <resultMap id="AntiDrugInfoResultMap" type="com.zzhy.yg_ai.domain.entity.PatientCourseData$AntiDrugInfo">
        <result column="reqno" property="reqno"/>
        <result column="samreqno" property="samreqno"/>
        <result column="microbecode" property="microbecode"/>
        <result column="datano" property="datano"/>
        <result column="mic" property="mic"/>
        <result column="data_name" property="dataName"/>
        <result column="sensitivity" property="sensitivity"/>
    </resultMap>

    <select id="selectSourceLastTime" resultType="java.time.LocalDateTime">
        select top 1 last_time from item_time_set order by last_time desc
    </select>

    <select id="selectStoredLastTimeByReqno" resultType="java.time.LocalDateTime">
        select max(last_time)
        from patient_raw_data
        where reqno = #{reqno}
    </select>

    <select id="selectActiveReqnos" resultType="java.lang.String">
        WITH candidate_reqnos AS (
            SELECT
                pat.reqno,
                pat.inhosdate AS sort_time
            FROM pat_infor pat
            WHERE pat.reqno IS NOT NULL
              AND pat.inhosdate &gt;= DATEADD(DAY, -#{recentAdmissionDays}, GETDATE())
              AND NOT EXISTS (
                SELECT 1
                FROM patient_raw_data prd
                WHERE prd.reqno = pat.reqno
              )
            <if test="sinceTime != null">
                UNION ALL
                SELECT updated.reqno, MAX(updated.lasttime) AS sort_time
                FROM (
                    SELECT reqno, lasttime FROM patdiaginfor WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM PatBodySurface WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patdoctoradvice WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patillnesscourse WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM pattestsam WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM pattestresult WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patusemedicine WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patvideoresult WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM PatDeptChange WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patopscutinfor WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patusemedicine_ops WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM pattest WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patmicrobesource_rep WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patmicrobesource WHERE lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT reqno, lasttime FROM patantisource WHERE lasttime &gt; #{sinceTime}
                ) updated
                WHERE updated.reqno IS NOT NULL
                  AND EXISTS (
                    SELECT 1
                    FROM patient_raw_data prd
                    WHERE prd.reqno = updated.reqno
                  )
                GROUP BY updated.reqno
            </if>
        )
        SELECT reqno
        FROM (
            SELECT reqno, MAX(sort_time) AS latest_time
            FROM candidate_reqnos
            GROUP BY reqno
        ) final_candidates
        where reqno = '260300011'
        ORDER BY latest_time ASC
        OFFSET 0 ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="selectChangedDataTypes" resultType="java.lang.String">
        <choose>
            <when test="sinceTime == null">
                SELECT 'FULL_PATIENT'
            </when>
            <otherwise>
                SELECT DISTINCT source_type
                FROM (
                    SELECT 'DIAGNOSIS' AS source_type FROM patdiaginfor WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'BODY_SURFACE' AS source_type FROM PatBodySurface WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'DOCTOR_ADVICE' AS source_type FROM patdoctoradvice WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'ILLNESS_COURSE' AS source_type FROM patillnesscourse WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'LAB_TEST' AS source_type FROM pattestsam WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'LAB_TEST' AS source_type FROM pattestresult WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'USE_MEDICINE' AS source_type FROM patusemedicine WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'VIDEO_RESULT' AS source_type FROM patvideoresult WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'TRANSFER' AS source_type FROM PatDeptChange WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'OPERATION' AS source_type FROM patopscutinfor WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'OPERATION' AS source_type FROM patusemedicine_ops WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'MICROBE' AS source_type FROM pattest WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'MICROBE' AS source_type FROM patmicrobesource_rep WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'MICROBE' AS source_type FROM patmicrobesource WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                    UNION ALL
                    SELECT 'MICROBE' AS source_type FROM patantisource WHERE reqno = #{reqno} AND lasttime &gt; #{sinceTime}
                ) changed
            </otherwise>
        </choose>
    </select>

    <select id="selectPatInfor" resultMap="PatInforResultMap">
        SELECT
            reqno,
            pathosid,
            sex,
            age + ageunit AS age,
            d1.data_name AS disname,
            CASE
                WHEN CONVERT(VARCHAR(10), outhodate, 120) = '9999-12-31' THEN '在院'
                ELSE CONVERT(VARCHAR(19), outhodate, 120)
            END AS outhodate,
            inhosdate AS inhosday,
            d2.data_name AS inhosdistrict,
            DATEDIFF(DAY, inhosdate, CASE WHEN outhodate = '9999-12-31' THEN CURRENT_TIMESTAMP ELSE outhodate END) AS hosdays
        FROM
            pat_infor pat
        LEFT JOIN
            district_dict d1 ON pat.currentdist = d1.datano
        LEFT JOIN
            district_dict d2 ON pat.inhosdict = d2.datano
        LEFT JOIN
            district_custom d3 ON pat.currentdept = d3.datano
        WHERE
            1 = 1
            AND pat.reqno = #{reqno}
            and ( coalesce('0','0')='0'
                    or (coalesce('0','0')='1'
                    and (coalesce(d1.depcss,'_')='本院' or coalesce('本院','_')='_'))

                    )
    </select>

    <select id="selectDiagByReqno" resultMap="PatDiagInforResultMap">
        select a.diag_id,
               a.reqno,
               a.phase,
               a.diag_name,
               a.diag_time
        from patdiaginfor a
        inner join pat_infor p on a.reqno = p.reqno
        inner join district_dict d on p.currentdist = d.datano
        where a.reqno = #{reqno}
        <if test="lastTime != null">
            and a.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )
        order by a.diag_time
    </select>

    <select id="selectBodySurfaceByReqno" resultMap="PatBodySurfaceResultMap">
        SELECT
            pbs.reqno,
            pbs.measuredate,
            pbs.flag,
            MAX(CASE WHEN pbs.flag = '体温' THEN pbs.temperature END) AS temperature,
            MAX(CASE WHEN pbs.flag = '大便次数' THEN pbs.temperature END) AS stool_count,
            MAX(CASE WHEN pbs.flag = '脉搏' THEN pbs.temperature END) AS pulse,
            MAX(CASE WHEN pbs.flag = '呼吸' THEN pbs.temperature END) AS breath,
            MAX(CASE WHEN pbs.flag = '血压' AND pbs.temperature = -1 THEN pbs.strval
            WHEN pbs.flag = '血压'  <![CDATA[ AND pbs.temperature <> -1 ]]> THEN CAST(pbs.temperature AS VARCHAR)
            END) AS blood_pressure
        FROM PatBodySurface pbs
        where reqno = #{reqno}
        <if test="lastTime != null">
            and pbs.lasttime &gt; #{lastTime}
        </if>
        GROUP BY
            pbs.reqno, pbs.measuredate, pbs.flag
    </select>

    <select id="selectLongDoctorAdviceByReqno" resultMap="PatDoctorAdviceResultMap">
        SELECT
            p.docadvno,
            p.reqno,
            p.docadvice, --医嘱名称
            p.begtime, --开始时间
            CASE
            WHEN CONVERT(VARCHAR(10), p.endtime, 120) IN ('9999-12-31', '1900-01-01') THEN '未结束'
            ELSE CONVERT(VARCHAR(19), p.endtime, 120)
            END AS endtime, --结束时间
            p.docadvtype, --医嘱类型
            p.memo AS remarks, --备注
            d.data_name as distname
        FROM
            patdoctoradvice p
            inner join district_dict d on  p.distno=d.datano
        WHERE
            docadvtype = '长期'
            AND reqno = #{reqno}
            AND (COALESCE('_', '_') = '_' OR docadvice LIKE '%' + '_' + '%')
        <if test="lastTime != null">
            and lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )

        ORDER BY  begtime DESC
    </select>

    <select id="selectTemporaryDoctorAdviceByReqno" resultMap="PatDoctorAdviceResultMap">
        SELECT
            p.docadvno,
            p.reqno,
            docadvice,
            begtime,
            CASE
                WHEN CONVERT(VARCHAR(10), endtime, 120) IN ('9999-12-31', '1900-01-01') THEN '未结束'
                ELSE CONVERT(VARCHAR(19), endtime, 120)
            END AS endtime,
            docadvtype,
            memo AS remarks,
            d.data_name as distname
        FROM
            patdoctoradvice  p
            inner join district_dict d on  p.distno=d.datano
        WHERE
            (COALESCE('临时', '_') = '_' OR docadvtype = '临时')
            AND reqno = #{reqno}
            AND (COALESCE('_', '_') = '_' OR docadvice LIKE '%' + '_' + '%')
        <if test="lastTime != null">
            and lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )

        ORDER BY begtime DESC
    </select>

    <select id="selectSgDoctorAdviceByReqno" resultMap="PatDoctorAdviceResultMap">
        SELECT
            p.docadvno,
            p.reqno,
            docadvice,
            begtime,
            CASE
                WHEN CONVERT(VARCHAR(10), endtime, 120) IN ('9999-12-31', '1900-01-01') THEN '未结束'
                ELSE CONVERT(VARCHAR(19), endtime, 120)
            END AS endtime,
            docadvtype,
            memo AS remarks,
            d.data_name as distname
        FROM
            patdoctoradvice p
            inner join district_dict d on  p.distno=d.datano
        WHERE
            (COALESCE('_', '_') = '_' OR docadvtype = '_')
            AND reqno = #{reqno}
            AND (COALESCE('_', '_') = '_' OR docadvice LIKE '%' + '_' + '%')
            AND sg_flag IS NOT NULL
        <if test="lastTime != null">
            and lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )

        ORDER BY  begtime DESC
    </select>

    <select id="selectIllnessCourseByReqno" resultMap="PatIllnessCourseResultMap">
        SELECT
            i.id,
            i.reqno,
            i.illnesscontent,
            i.creattime, --创建时间
            i.changetime, --创建时间
            i.itemname
            FROM
            patillnesscourse i
            inner join pat_infor p on i.reqno=p.reqno
        inner join district_dict d on p.currentdist=d.datano
        WHERE
            1 = 1
            AND i.reqno = #{reqno}
            and(COALESCE(NULLIF('', '_'), '') = '' OR i.id = '')
        <if test="lastTime != null">
            and i.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )
    </select>

    <select id="selectTestSamByReqno" resultMap="PatTestSamResultMap">
        select
            reqno,
            samreqno,
            sendtestdate,
            testaim,
            samtype data_name,
            testdate
        from pattestsam pt
        inner join district_dict d on  pt.distno=d.datano
        where reqno=#{reqno}
        <if test="lastTime != null">
            and pt.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )

        order by sendtestdate desc
    </select>

    <select id="selectTestResultBySamreqno" resultMap="PatTestResultResultMap">
        select
            pt.reqno,
            pt.samreqno,
            pm.itemno,
            pm.itemname,
            engname,
            resultdesc,
            state,
            unit,
            refdesc,
            CASE WHEN pm.state &lt;&gt; '正常' THEN '异常' ELSE '正常' END AS all_jy_flag
        from pattestsam pt
        inner join pattestresult pm on pt.reqno=pm.reqno  and pt.samreqno=pm.samreqno
        inner join district_dict d on  pt.distno=d.datano
        where 1=1
        and pt.reqno=#{reqno}
        and pt.samreqno=#{samreqno}
        <if test="lastTime != null">
            and pt.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )
    </select>

    <select id="selectUseMedicineByReqno" resultMap="PatUseMedicineResultMap">
        SELECT
            reqno,
            useorderno,
            medi_id,
            medi_name,
            med_calss,
            medi_path,
            begin_time,
            convert(varchar(19),zxsj,120) as zxsj,
            CASE
                WHEN CONVERT(VARCHAR(10), end_time, 120) IN ('9999-12-31', '1900-01-01') THEN '未结束'
                ELSE CONVERT(VARCHAR(19), end_time, 120)
            END AS end_time,
            medi_aim,
            docadvtype,
            dosage AS medi_num,
            medusage,
            frequency,
            unit,
            memo,
            d.data_name as distname
        FROM
            patusemedicine  p
            inner join district_dict d on  p.distno=d.datano
        WHERE
            1 = 1
            AND docadvtype = '长期'
            AND reqno = #{reqno}
        <if test="lastTime != null">
            and lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )

        ORDER BY
            begin_time DESC
    </select>

    <select id="selectVideoResultByReqno" resultMap="PatVideoResultResultMap">
        SELECT
            pd.reqno,
            pd.samreqno,
            pd.itemno,
            pd.docadvtime,
            CONVERT(VARCHAR, docadvtime, 120) + itemname AS names,
            pd.diagnose,
            testresult,
            reporttime
        FROM
            patvideoresult pd
            inner join pat_infor p on pd.reqno=p.reqno
            inner join district_dict d on  p.currentdist=d.datano
        WHERE
            1 = 1
            AND pd.reqno = #{reqno}
          and(COALESCE(NULLIF('', '_'), '') = '' OR CONVERT(VARCHAR, reporttime, 112) = '')
          and(COALESCE(NULLIF('', '_'), '') = '' OR pd.samreqno = '')
        <if test="lastTime != null">
            and lasttime &gt; #{lastTime}
        </if>
          and ( coalesce('0','0')='0'
                    or (coalesce('0','0')='1'
                    and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                    )

        ORDER BY
            reporttime
    </select>

    <select id="selectTransferByReqno" resultMap="PatTransferResultMap">
        SELECT
            reqno,
            indeptdate AS indeptdate, --入科时间
            indeptname AS indeptname, --入科科室
            CASE
                WHEN CONVERT(VARCHAR(10), outdeptdate, 120) = '9999-12-31' THEN '在院'
                ELSE CONVERT(VARCHAR(10), outdeptdate, 23)
            END AS outhodate, --出科时间
            outdeptname
        FROM	PatDeptChange p
        WHERE reqno = #{reqno}
        <if test="lastTime != null">
            and lasttime &gt; #{lastTime}
        </if>
    </select>

    <select id="selectOpsByReqno" resultMap="PatOpsCutInforResultMap">
        SELECT
            ops.reqno,
            ops.ops_id,
            ops.ops_name,
            ops.beg_time,
            CASE
                WHEN CONVERT(VARCHAR(10), ops.end_time, 120) IN ('9999-12-31', '1900-01-01') THEN '未结束'
                ELSE CONVERT(VARCHAR(19), ops.end_time, 120)
            END AS end_time,
            ops.cut_type,
            hocus_mode
        FROM
            patopscutinfor ops
            inner join district_dict d on  ops.opsdept=d.datano
        WHERE
            1 = 1
            AND ops.pathosid IN (SELECT pathosid FROM pat_infor WHERE reqno = #{reqno})
            AND DATEDIFF(DAY, ops.beg_time, CURRENT_TIMESTAMP) &lt;= 365
        <if test="lastTime != null">
            and ops.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )
    </select>

    <select id="selectPreWardOpsMedicine" resultMap="OpsMedicineResultMap">
        select
            ops.reqno,
            ops.ops_id,
            med.useorderno,
            med.medi_id,
            med.medi_name,
            med.dosage + med.unit as dosage,
            med.begin_time
        from patopscutinfor ops
        inner join patusemedicine med on ops.reqno=med.reqno
        inner join district_dict d on  ops.opsdept=d.datano
        where ops.reqno=#{reqno}
         and ops.ops_id= #{opsId}
        <if test="lastTime != null">
            and med.lasttime &gt; #{lastTime}
        </if>
         and ( coalesce('0','0')='0'
                    or (coalesce('0','0')='1'
                    and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                    )
    </select>

    <select id="selectPerioperativeOpsMedicine" resultMap="OpsMedicineResultMap">
        select
            ops.reqno,
            ops.ops_id,
            med.useorderno,
            med.medi_id,
            med.medi_name,
            med.dosage + med.unit as dosage,
            med.begin_time
        from patopscutinfor ops
        inner join patusemedicine_ops med on ops.reqno=med.reqno and ops.ops_id=med.ops_id
        inner join district_dict d on  ops.opsdept=d.datano
        where ops.reqno=#{reqno}
        and ops.ops_id= #{opsId}
        <if test="lastTime != null">
            and med.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )
    </select>

    <select id="selectPatTestByReqno" resultMap="PatTestResultMap">
        select
            pte.reqno,
            pte.testobject,
            pte.samreqno,
            pte.sampletime,
            pte.samtype_name as data_name
        from pattest pte
        left join  patmicrobesource ps
        on   pte.reqno = ps.reqno AND pte.samreqno = ps.samreqno
        left join district_dict d on pte.dist=d.datano
        where 1=1
        and pte.reqno=#{reqno}
        <if test="lastTime != null">
            and pte.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )

        order by sampletime desc
    </select>

    <select id="selectMicrobeBySamreqno" resultMap="MicrobeInfoResultMap">
        select * from (
            SELECT
                pt.reqno,
                pt.samreqno,
                pt.sampletime AS sendtestdate,
                pt.samtype_name AS samtypename,
                pt.samtype_name AS samtype,
                pm.exedate,
                pm.data_code,
                CASE
                    WHEN ps.reqno IS NOT NULL AND pm.reqno IS NOT NULL THEN '阳性'
                    ELSE '阴性'
                END AS result
                    ,case when ps.reqno IS not null and ps.memo  is not null then '多重耐药'  end AS result1
                ,case when ps.reqno IS  null and pm.memo  is not null then '细菌备注' end AS result2
            FROM
                pattest pt
            INNER JOIN
                patmicrobesource_rep pm ON pt.reqno = pm.reqno AND pt.samreqno = pm.samreqno
            LEFT JOIN (
                SELECT reqno, samreqno,data_code,memo
                FROM patmicrobesource
                WHERE reqno = #{reqno}
                GROUP BY reqno, samreqno,data_code,memo
            ) AS ps ON pt.reqno = ps.reqno AND pt.samreqno = ps.samreqno and pm.data_code=ps.data_code
            left join (
                select reqno,samreqno,microbecode,count(*) as nys
                from patantisource
                where 1=1
                and reqno=#{reqno}
                and(COALESCE(NULLIF(#{samreqno}, '_'), '') = '' OR  samreqno = #{samreqno})
                and(COALESCE(NULLIF('', '_'), '') = '' OR  microbecode = '')
                GROUP BY reqno,samreqno,microbecode
            ) AS pts ON pt.reqno = pts.reqno AND pt.samreqno = pts.samreqno and pts.microbecode=ps.data_code

            LEFT JOIN
                district_dict d ON pt.dist = d.datano
            LEFT JOIN
                pat_infor pat ON pat.reqno = pt.reqno
            WHERE
                1 = 1
                AND pt.reqno = #{reqno}
                AND (
                    (COALESCE(NULLIF(#{samreqno}, '_'), '') = '' AND ps.reqno IS NOT NULL AND pm.reqno IS NOT NULL)
                    OR
                    (COALESCE(NULLIF(#{samreqno}, '_'), '') != '' AND pm.samreqno = #{samreqno})
                )
            <if test="lastTime != null">
                and pm.lasttime &gt; #{lastTime}
            </if>
                and ( coalesce('0','0')='0'
                        or (coalesce('0','0')='1'
                        and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                        )
        ) t2
        ORDER BY
            sendtestdate DESC
    </select>

    <select id="selectAntiDrugByMicrobe" resultMap="AntiDrugInfoResultMap">
        select
            a.reqno,
            a.samreqno,
            a.microbecode,
            a.micresult mic,
            a.datano,
            a.data_name,
            a.micexplain sensitivity
        from patantisource a
        inner join pat_infor p on a.reqno=p.reqno
        inner join district_dict d on p.currentdist=d.datano
        left  join main_antiitem c on a.datano=c.datano
        where 1=1
        and a.reqno=#{reqno}
        and(COALESCE(NULLIF(#{samreqno}, '_'), '') = '' OR  a.samreqno = #{samreqno})
        and(COALESCE(NULLIF(#{dataCode}, '_'), '') = '' OR  a.microbecode = #{dataCode})
        <if test="lastTime != null">
            and a.lasttime &gt; #{lastTime}
        </if>
        and ( coalesce('0','0')='0'
                or (coalesce('0','0')='1'
                and (coalesce(d.depcss,'_')='本院' or coalesce('本院','_')='_'))

                )
        order by item_memo1 DESC
    </select>

</mapper>
