<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzhy.yg_ai.mapper.PatientSummaryMapper">

    <resultMap id="BaseResultMap" type="com.zzhy.yg_ai.domain.entity.PatientSummaryEntity">
        <id column="id" property="id"/>
        <result column="reqno" property="reqno"/>
        <result column="summary_json" property="summaryJson"/>
        <result column="token_count" property="tokenCount"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, reqno, summary_json, token_count, update_time
    </sql>

</mapper>
